#index #main {
    text-align:center;
    border: 0; margin: 0; padding: 0;
    position: relative; top: 250px;
    font-family:monospace;
    color: rgb(239, 245, 183);
}
#index #main .content {
    font-size: 50px;
}
#index #main h1{
    background-color: rgb(187, 71, 67);
    width:min-content;
    font-size: 27px;
}
#index #main .content .link { 
    text-decoration: none;
    font-weight: 550;
    color:antiquewhite;
    background-color: rgb(187, 71, 67);
}
#index {
    margin: 0; border: 0; padding: 0;
    background-image: url("gamichingoo.jpg");
    background-repeat:repeat;
    background-size:contain;
    background-color: rgb(255, 246, 232);
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
#intro {
    background-color: rgb(255, 246, 232);
    margin: 0;
}
#intro .container {
    display: grid;
    grid-template-columns: 23px 1fr;
    grid-auto-rows: auto;
}
#intro .container .box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#intro .container .box2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}
#intro .container .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#intro .title {
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
    font-size: 60px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0; margin-top: 20px;
}
#intro .list {
    font-weight: 600;
    font-size: 22px;
    color:antiquewhite;
    /*position: sticky;*/
    margin-top: 8%;
}
#intro .list .first {
    background-color: rgb(187, 71, 67);
    width:min-content;

}
#intro .list .second {
    background-color: rgb(187, 71, 67);
    width:min-content;
}
#intro .list .third {
    background-color: rgb(187, 71, 67);
    width:min-content;
}
#intro .container .box2 .list .leftindex {
    text-decoration: none;
    color: antiquewhite;
}
#intro .list .first p {
    margin: 0;
}
#intro .list .second p {
    margin: 0;
    margin-top:4%;
}
#intro .list .third p {
    margin: 0;
    margin-top:4%;                
}
#intro .content {
    color: black;
    text-align: center;
}
#intro .container .box3 .content .gami2 {
    width: 30%;
}
#intro .container .box3 .content .source {
    text-decoration: none;     
}
#intro .container .box3 .content .para1, .para2{
    margin: 0;
}
#intro .container .box3 .content .source {
    color: rgba(194, 186, 186, 0.747);
}
#intro .container .box3 .content .para3 {
    text-align:center;
}